@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400&display=swap');

:root {
	--SearchBar_input--width: 80%;
	--SearchBar_input--height: 10px;
};

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.Searchbar {
	display: flex;
	justify-content: center;
	align-items: center;
}
.SearchBar_title {
	font-size: 4rem;
	font-family: 'Pacifico', cursive;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.SearchBar_form {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 1.5rem 0px;
	font-family: 'Roboto', sans-serif;
}

.SearchBar_input {
    font-size: 20px;
    font-family: arial, sans-serif;
	padding: 1.3rem;
	color: black;
	background-color: white;
	max-width: 690px;
	width: var(--SearchBar_input--width);
	height: var(--SearchBar_input--height);
	border: 1px solid #dfe1e5;
	border-radius: 24px;
	line-height: 34px;
	outline: none;
}

.SearchBar_input:hover, .SearchBar_input:focus {
	box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.SearchBar_filter {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;
	margin: 1.5rem;
}

.SearchBar_submit {
	font-size: 1rem;
	font-family: 'Roboto', sans-serif;
	background-color: black;
	color: white;
	border: none;
	padding: 12px 30px;
	border-radius: 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
	cursor: pointer;
}

@media (min-width: 650px) {
	.SearchBar_title {
		font-size: 5rem;
	}
	.SearchBar_filter {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}